[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
skip-character-set-client-handshake
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# This file is /etc/my.cnf, needed to import data properly
# After you run the extra mysql commands in mysqlModify.sql, run this:
# sudo mysqlcheck -u root -p --auto-repair --optimize --all-databases
